ES_URL=http://localhost:9200
ES_USER=elastic
ES_PASSWORD=changeme
ES_INDEX_PREFIX=openhexa
DATA_GOUV_LIVE_URL=https://data.economie.gouv.fr/api/explore/v2.1/catalog/datasets/prix-des-carburants-en-france-flux-instantane-v2/exports/json
POLLING_INTERVAL_SECONDS=86400
SEARCH_REFRESH_TTL_SECONDS=600
